.sidebar{
    
    position: fixed;
    top:55px;
    left: 0;
    bottom: 0;
    z-index: 200;
    
    width: 72px;
    background-color: white;
    padding-top: 5px;
 
}
.sidebar-content{
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar-content:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-icon{
    height: 40px;
}
.sidebar-content div{
    font-size: 10px;
}
.sidebar-content img{
    height: 24px;
    margin-bottom: 4px;
}